@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  min-height: 100vh;
  @apply transition-colors duration-300;
  @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-50 transition-colors duration-300;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
input[type="date"] {
  color-scheme: light;
}

.dark input[type="date"] {
  color-scheme: dark;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

input[type="checkbox"] {
  @apply appearance-none
    bg-white
    border border-slate-400
    rounded-sm

    checked:bg-white
    checked:border-slate-600

    checked:after:content-['✔']
    checked:after:block
    checked:after:text-black
    checked:after:text-sm
    checked:after:leading-none
    checked:after:text-center
cursor-pointer
rounded-sm
    focus:outline-none
    focus:ring-0
    active:ring-0
    transition;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  @apply flex items-center justify-center;
}
.task-checkbox {
  @apply w-5 h-5 md:w-4 md:h-4 mt-2 rounded-lg;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
